@{
    ViewData["Title"] = "Danışma Kurulu";
}

<div class="kurullar-container">
    <h1 class="duzenlemekurulu-title">Danışma KURULU</h1>


    <div class="rektorler-grid">
        <div class="kurul-uye">
            <img src="~/img/rektorler/Huseyin-Yilmaz.png" alt="Prof. Dr. Hüseyin YILMAZ" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Hüseyin YILMAZ</h3>
                <span>Selçuk Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Cengiz-Yilmaz.png" alt="Prof. Dr. Cengiz YILMAZ" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Cengiz YILMAZ</h3>
                <span>Abdullah Gül Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Mehmet-Karakas.png" alt="Prof. Dr. Mehmet KARAKAŞ" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Mehmet KARAKAŞ</h3>
                <span>Afyon Kocatepe Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Nurullah-Okumus.png" alt="Prof. Dr. Nurullah OKUMUŞ" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Nurullah OKUMUŞ</h3>
                <span>Afyonkarahisar Sağlık Bilimleri Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Alpay-Aribas.png" alt="Prof. Dr. Alpay ARIBAŞ" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Alpay ARIBAŞ</h3>
                <span>Aksaray Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Fatih-Altun.png" alt="Prof. Dr. Fatih ALTUN" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Fatih ALTUN</h3>
                <span>Erciyes Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Hasan-Ali-Karasar.png" alt="Prof. Dr. Hasan Ali KARASAR" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Hasan Ali KARASAR</h3>
                <span>Kapadokya Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/mehmet-gavgali.png" alt="Prof. Dr. Mehmet GAVGALI" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Mehmet GAVGALI</h3>
                <span>Karamanoğlu Mehmetbey Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Kurtuluş-KaraMustafa.png" alt="Prof. Dr. Kurtuluş KARAMUSTAFA" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Kurtuluş KARAMUSTAFA</h3>
                <span>Kayseri Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/ersan_arslan.png" alt="Prof. Dr. Ersan ASLAN" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Ersan ASLAN</h3>
                <span>Kırıkkale Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/mustafa-kasim-hocagil.png" alt="Prof. Dr. Mustafa Kasım KARAHOCAGİL" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Mustafa Kasım KARAHOCAGİL</h3>
                <span>Kırşehir Ahi Evran Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Erol-Turan.png" alt="Prof. Dr. Erol TURAN" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Erol TURAN</h3>
                <span>Konya Gıda ve Tarım Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Osman-Nuri-Çelik.png" alt="Prof. Dr. Osman Nuri ÇELİK" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Osman Nuri ÇELİK</h3>
                <span>Konya Teknik Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Fevzi-Rifat-Ortac.png" alt="Prof. Dr. Fevzi Rifat ORTAÇ" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Fevzi Rifat ORTAÇ</h3>
                <span>KTO Karatay Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Cem-Zorlu.png" alt="Prof. Dr. Cem ZORLU" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Cem ZORLU</h3>
                <span>Necmettin Erbakan Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/semih-aktekin.png" alt="Prof. Dr. Semih AKTEKİN" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Semih AKTEKİN</h3>
                <span>Nevşehir Hacı Bektaş Veli Üniversitesi Rektörü</span>
            </div>
        </div>

        <div class="kurul-uye">
            <img src="~/img/rektorler/Ahmet-Fazil-Ozsoylu.png" alt="Prof. Dr. Ahmet Fazıl ÖZSOYLU" class="rektor-image">
            <div class="rektor-detay">
                <h3>Prof. Dr. Ahmet Fazıl ÖZSOYLU</h3>
                <span>Nuh Naci Yazgan Üniversitesi Rektörü</span>
            </div>
        </div>
    </div>
</div>