@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="about-page">
    <div class="about-hero">
        <div class="hero-content">
            <h1>İKAF'25 Heyecanı KONYA'da!</h1>
        </div>
    </div>

    <div class="main-content">
        <div class="info-section">
            <div class="content-text">
                <p>
                    Cumhurbaşkanlığı İnsan Kaynakları Ofisi koordinasyonunda “<a href="http://yetenekheryerde.org/" target="_blank" rel="noopener noreferrer">Yetenek Her Yerde</a> kapsamında gerçekleştirilmekte olan kariyer fuarları, üniversiteler, kamu-özel sektör kurumları ve meslek odalarının iş birliği ile ilk olarak 2019 yılında düzenlenmiştir. Bu etkinlikler, öğrencilerin iş hayatını tanımalarını sağlamak ve istihdam edilebilirliklerini artırmak amacıyla gerçekleştirilmektedir.
                </p>
                <div class="objectives-section">
    <h2>Yetenek Her Yerde Kariyer Etkinlikleri ile:</h2>
    <ul style="padding-left: 40px;">
        <li>Tüm gençlere, öğrenim gördükleri üniversite fark etmeksizin birer yetenek olduklarının hissettirilmesi, istihdam konusunda fırsat eşitliği sağlanması ve genç istihdamının desteklenmesi,</li>
        <li>Kamu kurumlarının nitelikli iş gücü arasındaki bilinirliğinin ve işveren marka değerinin artırılması ile nitelikli öğrenci ve mezunların bu kurumlara kazandırılması,</li>
        <li>Gençlerin işverenlerle etkileşiminin artırılarak reel sektörün beklentileri hakkında bilgi sahibi olmalarının sağlanması ve kariyer farkındalıklarının yükseltilmesi amaçlanmaktadır.</li>
    </ul>
</div>
                <p>
                    Yetenek Her Yerde Kariyer Etkinlikleri ile tüm gençlere, öğrenim gördükleri üniversite fark etmeksizin birer yetenek olduklarının hissettirilmesi, istihdam konusunda fırsat eşitliği sağlanması ve genç istihdamının desteklenmesi amaçlanmaktadır. Ayrıca, kamu kurumlarının nitelikli iş gücü arasındaki bilinirliğinin ve işveren marka değerinin artırılması ile nitelikli öğrenci ve mezunların bu kurumlara kazandırılması hedeflenmektedir. Bunun yanında, gençlerin işverenlerle etkileşiminin artırılarak reel sektörün beklentileri hakkında bilgi sahibi olmalarının sağlanması ve kariyer farkındalıklarının yükseltilmesi planlanmaktadır.
                </p>

                <p>
                    İç Anadolu Kariyer Fuarı'nın önemli bir ayağını oluşturan İKAF'25, 20-21 Şubat 2025 tarihlerinde Konya'da Selçuk Üniversitesi ev sahipliğinde, Konya Selçuklu Kongre Merkezi'nde gerçekleştirilecektir. <a href="@Url.Action("PaydasUniversiteler", "Ikaf")" target="_blank" rel="noopener noreferrer">16 paydaş üniversitenin</a> katkılarıyla düzenlenecek olan bu etkinlik, hitap ettiği öğrenci sayısı ile İç Anadolu'nun en büyük bölgesel kariyer fuarıdır.
                </p>

               
            </div>
        </div>
        <div class="image-container">
            <img src="~/img/yetenek-kapisi.png" alt="Yetenek Kapısı" class="responsive-image">
        </div>
    </div>
</div>