
@{
    ViewData["Title"] = "Rektorumuzden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="rector-message">
    <div class="rector-container">
        <div class="rector-grid">
            <div class="rector-image-wrapper">
                <img src="https://ikaf.selcuk.edu.tr/wp-content/uploads/2024/11/1731320741822.png"
                     alt="Prof. Dr. Hüseyin YILMAZ"
                     class="rector-image">
            </div>
            <div class="rector-content">
                <div class="rector-pattern"></div>
                <h2 class="duzenlemekurulu-title">Geleceğimizi Birlikte Şekillendirelim</h2>
                <div class="rector-text">
                    <p>Cumhurbaşkanlığı İnsan Kaynakları Ofisi Başkanlığının 2019 yılından itibaren düzenlemekte olduğu ve "Yetenek Her Yerde" teması etrafında şekillenen Bölgesel Kariyer Fuarları, Türkiye'nin her bölgesinden üniversite öğrencileri ve mezunlarını önde gelen kamu ve özel sektör temsilcileriyle bir araya getiren kritik öneme sahip bir platform niteliğindedir.</p>

                    <p>Selçuk Üniversitesi olarak 2025 yılında İç Anadolu Kariyer Fuarı'na (İKAF'25) ev sahipliği yapacak olmanın gurur ve heyecanını yaşamaktayız. 20-21 Şubat 2025 tarihlerinde Konya'da, Valiliğimiz öncülüğünde ve İç Anadolu Bölgesi'nden 16 kıymetli üniversitenin, farklı meslek odalarının ve paydaş kurumların katkılarıyla gerçekleştirilecek olan bu organizasyon, öğrencilerimizin ve mezunlarımızın kariyer yolculuklarında sağlam adımlar atmalarına destek olmayı amaçlamaktadır.</p>

                    <p>Bu vesileyle bölgedeki tüm kurum ve kuruluşları, gençlerimizin geleceğine destek olmak üzere İKAF'25'e katkı sunmaya davet ediyorum. İnanıyorum ki geleceğimizin teminatı olan gençlerimiz, bu fuarda edinecekleri tecrübe ve bilgi birikimiyle Türkiye'nin güçlü ve donanımlı liderleri olarak ülkemizin kalkınmasına katkı sağlayacaklardır.</p>
                </div>
                <div class="rector-signature">
                    Prof. Dr. Hüseyin YILMAZ
                    <div class="rector-title-small">Selçuk Üniversitesi Rektörü</div>
                </div>
            </div>
        </div>
    </div>
</section>

